<h1>Our Vision</h1>
    <p>Every family in North Carolina will have access to basic necessities to support their dignity, health, and quality of life.</p>

<h1>Our Mission</h1>
    <p>The mission of Diaper Bank of North Carolina is to promote and protect the dignity of each resident by:</p>
        <ul>
            <li>ensuring that families with babies and children living with poverty have an adequate supply of diapers</li>
            <li>improving access to personal hygiene products and other basic necessities to remove barriers to education, employment, or personal fulfillment</li>
            <li>distributing basic needs through community partners in order to encourage access to their services and programs, 
                thereby empowering people to become self-sustaining and develop their full potential.</li>
            <li>enhancing community understanding that access to basic personal hygiene is integral to physical and mental health, education, employability, 
                and quality of life and to raise awareness that these needs are not being met for families living with poverty;</li>
            <li>advocating for policy reform so that diapers and feminine hygiene products are 
                included in the definition of and provision for the basic human needs of families; and</li>
            <li>creating a diaper bank model that can be shared, replicated, and adopted by all counties in North Carolina.</li>
        </ul>
    
<h1>How We Work</h1>

    <p>The Diaper Bank of North Carolina (DBNC) works to ensure that families receive hygiene products they need by working with 
        established family-support organizations to distribute diapers to low-income families. Using these existing networks, DBNC 
        can efficiently get diapers to those in greatest need. </p>

    <p>Ways you can help us collect diapers and hygiene products:</p>
    
    <p><b>Diaper Drives and Drop-off Locations:</b> The Diaper Bank of North Carolina provides administrative and logistical help to community groups, 
        churches and synagogues, schools, and civic organizations who wish to sponsor a diaper drive or serve as a diaper drop-off location.</p>
    <p><b>Learn More about our locations, Partners and Hot-spots here.</b> We currently serve 16 counties across the state, with the hope of eventually
        serving every county in NC. Our branches are in the Triangle, Lower Cape Fear and the Greater Triad areas. Learn more about Our Locations here.</p>
        
<h1>Diaper Bank of North Carolina Board Members</h1>

    <ul style="list-style: none;">
        <li>Board Chair – Diane Paces-Wiles</li>
        <li>Vice Chair – Josh Cohen</li>
        <li>Secretary – </li>
        <li>Treasurer – Reed Frankel</li>
        <li>At Large – Cedric Parker</li>
        <li>Executive Director – Michelle Old</li>
        <li>Honorary Board Chair – Dr. Melissa Harris Perry</li>
    </ul>

<img alt="" src="http://new.ncdiaperbank.org/wp-content/uploads/2015/07/unnamed-300x225.jpg" />

<h1>History</h1>

    <p>While fostering their now adoptive son,  Michelle and Gregory Old were watching him experience severe diaper rashes. The infections were so bad that 
        he would end up in the hospital 3-5 times a month on IVs trying to help his body heal from the infections. Even though the Olds were changing his 
        diaper 15 – 20 times a day, they could not stop the infections from taking over and causing their son to be extremely ill and in pain. As their son 
        started to heal, Michelle started to wonder about parents who were not able to grab that next diaper to help their babies stay clean, dry and healthy
        and knew there was no assistance for these families to do so. She became obsessed with the idea of helping others with the very basic need of a clean
        diaper. In October of 2012, Michelle came home from another long weekend at the hospital with her son and told her husband that she wanted to start a
        diaper bank in North Carolina. At first, it seemed like a daunting task with 3 children, one of them ill, but they sat down and put together a plan, 
        set a tight family budget which would allow Michelle the space to quit her job and focus on covering babies bottoms across the state.</p>
    
    <p>In January of 2013, Old formed the Diaper Bank of NC with the hopes of providing 50,000 diapers in her community within the year. Two years later, the
        Diaper Bank distributes over 200,000 diapers a month state-wide with branches in the Triangle, the Greater Triad, and Lower Cape Fear Region.</p>
    
    <p>Now with 3 healthy children, Old has made it her life’s work, along with the help of hundreds of amazing volunteers and the generosity of our community,
        to address the issue of diaper need and cover babies’ bottoms across North Carolina.</p>
    
    









