<h3><center>We are thrilled that you are considering donating to the Diaper Bank of North Carolina. There are two ways you can donate,
sponsor a child, by signing up for a monthly donation, or making a one-time donation to the Diaper Bank.</center></h3>


<h1>Monthly Recurring Gift</h1>
