@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

.btn-primary {
  margin-top: 10px;
  background-color: #25aae1;
  border-color: #25aae1;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  border-radius: 0;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.body-container {
  margin-top: 100px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #dd2343;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin: 50px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h4 {
  font-size: 1.4em;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: normal;
}

hr {
  margin-top: 1px;
  margin-bottom: 5px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: rgba(8,0,26,.7);
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

section{
  font-size: 1.1em;
  color: blue;
}

/* forms */

#hotspots_show {
   margin-top: 100px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

#city_search, #zip_search {
  padding-left: 0px;
}

.address_search {
  padding-left: 0px;
  margin-bottom: 0px;
}

.create-edit-form {
  padding-left: 0px;
  padding-right: 15px;
}

.inline-form-box {
  padding-left: 0px;
  margin-bottom: 0px;
}

#hotspots_form {
  margin-bottom: 15px;
}

#error_explanation {
  color: #a94442;
  ul {
    color: #a94442;
    margin-bottom: 5px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-container {
  padding-left: 0px;
}

/* navbar */

.navbar {
  height: 147px;
  background-image: url(asset-path('NC_Diaper_Bank_fabric_plaid.png'));
}

.nav-flex-container {
  height: 147px;
  width: 100%;
  // flex stuff
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu{
  position: static;
}

.dropdown.full-width {
  width: 120px;
  height: 100%;
  background-image: url(asset-path('NC_Diaper_Bank_fabric_plaid.png'));
}

.full-width.dropdown > li > a {
  white-space: normal;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(8,0,26,.7);
}

.navbar-inverse .navbar-nav > li > a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(8,0,26,.7);
  text-decoration-style: double;
  color:  rgba(8,0,26,.7);
}

#logo {
  height: 60px;
  padding-left: 10px;
}

.navbar-style {
  position: absolute;
  width: 60%;
  right: 100px;
  top: 40%;
  display: inline;
  text-align: center;
}

/* hotspots_path */

ul.pagination {
  position: static;
  margin-top: 5px;
}

.hotspot-div {
  background-color: #25aae1;
  border-color: #25aae1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.hotspot-heading {
  margin-bottom: 5px;
}

/* random */

.flash-width {
  width: 40%;
}

/* homepage */

.donation-div {
  background-color: #25aae1;
  border-color: #25aae1;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.donation-items {
  color: #ffffff;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 32.4px;
}

.donation-items-list {
  color: #ffffff;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 32.4px;
  padding-left: 15px;
  list-style-type: disc;
}
