@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

.buttons {
  margin-top: 10px;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

ul {
  position: absolute;
  width: 50%;
  right: 100px;
  top: 40%;
  display: inline;
  text-align: center;
}

.body-container {
  margin-top: 100px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin: 50px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #424242;
}

h4 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: normal;
  color: #424242;
}

hr {
  margin-top: 1px;
  margin-bottom: 5px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

section{
  font-size: 1.1em;
  color: blue;
}

/* forms */

#hotspots_show {
   margin-top: 100px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

#city_search {
  padding-left: 0px;
}

#zip_search {
  padding-left: 0px;
}

.create-edit-form {
  padding-left: 15px;
  padding-right: 15px;
}

/* navbar */

.navbar {
  height: 147px;
  background-image: url(asset-path('NC_Diaper_Bank_fabric_plaid.png'));
}

.nav-flex-container {
  height: 147px;
  width: 100%;
  // flex stuff
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu{
  position: static;
}

.dropdown.full-width {
  width: 120px;
  height: 100%;
  background-image: url(asset-path('NC_Diaper_Bank_fabric_plaid.png'));
}

.full-width.dropdown > li > a {
  white-space: normal;
}

.navbar-inverse .navbar-nav > li > a {
  color: #3a3434;
}

.navbar-inverse .navbar-nav > li > a:hover {
  text-decoration: underline;
  text-decoration-color: #3a3434;
  text-decoration-style: double;
  color:  #3a3434;
}

#logo {
  height: 60px;
  padding-left: 10px;
}
