@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

.navbar {
  height: 147px;
  background-image: url(asset-path('NC_Diaper_Bank_fabric_plaid.png'));
}

.navbar-brand {
    position: absolute;
    width: 50%;
    left: 0;
    top: 15%;
    text-align: center;
    margin: auto;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

ul {
  position: absolute;
    width: 50%;
    right: 100px;
    top: 40%;
    display: inline;
    text-align: center;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin: 50px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h4 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-top: 100px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: normal;
  color: #777;
}

hr {
  margin-top: 1px;
  margin-bottom: 5px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

section{
  font-size: 1.1em;
  color: blue;
}
/* forms */

#hotspots_form {
   margin-top: 100px;
}

#hotspots_show {
   margin-top: 100px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}